/* header */
.nav-bar{
    width: 100%;
    height: 70px;
    
}

.menu{
    
    height: 100%;
    background-color: rgb(175, 175, 175);
}
/* /header */

/* main */

/* descrizione e credenziali */
.cont-des-cred{
    width: 100%;
    height: 100%;
    background-color: blue;
    padding-bottom: 3%;
}

.des-cred{
    height: 100%;
}
.cont-descrizione,
.cont-credenziali{
    height: 100%;
    margin-top: 4%;
}
.descrizione,
.credenziali{
    margin-top: 5%;
    width: 55%;
    height: 100%;
    background-color: grey;
    margin-left: 23%;
}


/* /descrizione e credenziali */

/* partners */
.cont-partners{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    padding-top: 10px;
}
.innovative{
    text-align: center;
    height: 20px;
    background-color: wheat;
    padding-top: 2px;
}
.cont-imgs{
    width: 90%;
    height: 50px;
    padding-top: 5px;
    margin-left: 50px;
}
.img-partner{
    width: 130px;
    height: 40px;
    background-color: white;
    margin-top: 5%;
}
.cont-customer{
    height: 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.piccola{
    width: 100%;
}
/* /partners */

/* solutions */

.cont-solutions{
    width: 100%;
    height: 100%;
    background-color: rgb(153, 153, 153);
}
.title-deploy{
    width: 80%;
    text-align: center;
    margin: auto;
}
.
.title-deploy p{
    margin-left: -18%;
    width: 130%;
    
}
.under-title{
    width: 100%;
    height: 100%;
    background-color: rgb(153, 153, 153);
}
.under-title-one{
    
    height:100%;
}
.under-title-one ul{
    border-left: solid gray 2px;
    list-style-type: none;
    padding-left: 10px;
}
.under-title-one ul li{
    margin-bottom: 30px;
}

/* /solutions */

/* designed */
.title-designed{
    width: 80%;
    text-align: center;
    margin: auto;
}

.title-designed p{
   
    width: 90%;
    
}
.window{
    height: 400px;
    background-color: darkgray;
    padding-bottom: 5%;
}

.fa-chevron-left{
   
}
.cont-img{
    margin: auto;
    margin-top: 5%;
    width: 60%;
    height: 80%;
    background-color: darkkhaki;
}
/* /designed */

/* features */
.title-features{
    text-align: center;
    padding-top: 3%;
}

.quadrato-uno,
.quadrato-due,
.quadrato-tre{
    height: 200px;
}
.quadrato-uno{
    background-color: darkkhaki;
}
.quadrato-due{
    background-color: darkmagenta;
}
.quadrato-tre{
    background-color: darkolivegreen;
}

/* /features */

/* service */
#service{
    background-color: blue;
}
.title-service{
    margin-top: 3%;
    padding-top: 3%;
    color: white;
    text-align: center;
}
.cont-service{
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
}
.tab-service-one,
.tab-service-two{
    height: 170px;
    background-color: aquamarine;
}

/* /service */

/* development */
.title-development{
    text-align: center;
}
/* /development */

/* get started */
#get-started{
    background-color: blue;
    height: 100%;
}
.get-started{
    margin-top: 4%;
    text-align: center;
    color: white;
    margin-bottom: 4%;
}
.button{
    cursor: pointer;
    margin: auto;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: white;
    color: lightskyblue;
}
/* /get started */

/* conclusion */
#colclusion{
    background-color: rgb(0, 0, 117);
    height: 100%;
    width: 100%;
}
.colonna{
    background-color: darkcyan;
    height: 300px;
}

/* /conclusion */
