/* header */
.nav-bar {
  width: 100%;
  height: 100%;
}

.menu {
  height: 100%;
}

.cont-img-nav img {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 60%;
  height: 60%;
}

.cont-lista ul {
  padding-top: 8%;
}
.cont-lista ul li {
  cursor: pointer;
  text-decoration: none;
  display: inline;
  font-size: 15px;
  margin-left: 2%;
  color: rgb(0, 0, 90);
}

.menu-login ul {
  text-align: right;
  padding-top: 5%;
  color: rgb(0, 0, 90);
}
.menu-login ul li {
  cursor: pointer;
  text-decoration: none;
  display: inline;
  font-size: 15px;
  margin-left: 2%;
}
.button-nav {
  border: solid 1px rgb(56, 136, 255);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
  color: rgb(56, 136, 255);
}
.hamburger {
  padding-top: 7%;
  text-align: right;
  color: rgb(6, 135, 255);
}

/* /header */

/* main */

/* descrizione e credenziali */

.cont-des-cred {
  width: 100%;
  height: 100%;
  background-image: url(img/bg-banner-home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3%;
}

.des-cred {
  height: 100%;
}
.cont-descrizione,
.cont-credenziali {
  height: 100%;
  margin-top: 4%;
}

.descrizione {
  width: 100%;
  margin-top: 5%;
  height: 100%;
}
.descrizione span h1 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.descrizione span p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
.credenziali {
  text-align: center;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 2%;
  border-radius: 7px;
}
.credenziali h2 {
  font-size: 40px;
  color: rgb(0, 0, 90);
}
#text-blu {
  color: blue;
}
.credenziali :first-child {
  margin-bottom: -2%;
}
.email,
.name {
  width: 90%;
  height: 40px;
  margin-bottom: 2%;
  border: rgb(187, 186, 186) solid 1px;
  border-radius: 5px;
}
.credenziali .btn-account {
  width: 90%;
  height: 10%;
  background-color: rgb(53, 89, 248);
  color: white;
  margin-bottom: 2%;
}
.credenziali .btn-google {
  width: 90%;
  height: 10%;
  color: gray;
  box-shadow: gray 2px 2px;
  padding-right: 39%;
  margin-bottom: 2%;
}
.credenziali .btn-google img {
  width: 8%;
  height: 100%;
  margin-right: 55%;
}
.credenziali p {
  margin-top: 1%;
}

/* /descrizione e credenziali */

/* partners */
.cont-partners {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding-top: 10px;
}
.innovative {
  text-align: center;
  height: 20px;
  padding-top: 2px;
  color: gray;
}
.cont-imgs {
  width: 85%;
  height: 50px;
  padding-top: 5px;
  padding-left: 10%;
}

.img-partner {
  width: 160px;
  height: 70px;

  margin-top: 5%;
}
.img-partner img {
  width: 100%;
  height: 100%;
}
.cont-customer {
  height: 20px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.piccola {
  width: 100%;
}
/* /partners */

/* solutions */

.cont-solutions {
  width: 100%;
  height: 100%;
}
.title-deploy {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 2%;
}
.title-deploy h2 {
  color: rgb(0, 0, 90);
}
.title-deploy p {
  font-size: 130%;
  width: 100%;
  color: rgb(0, 0, 90);
}
.under-title {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}
.under-title-one {
  height: 100%;
}
.under-title-one ul {
  border-left: solid gray 2px;
  list-style-type: none;
  padding-left: 10px;
  
  padding-top: 15px;
  color: rgb(0, 0, 90);
}
.under-title-one ul li {
  color: gray;
  margin-bottom: 30px;
  font-size: 18px;
}
.under-title-two {

  color: rgb(0, 0, 90);
}
.riquadro p {
  width: 80%;
}

/* /solutions */

/* designed */
#designed{
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 3%;
}
.title-designed {
  width: 80%;
  text-align: center;
  margin: auto;
}

.title-designed h2 {
  font-size: 30px;
  width: 100%;
  color: rgb(0, 0, 90);
}
.title-designed p {
  color: rgb(0, 0, 90);
  width: 100%;
  font-size: 19px;
}
.window {
  height: 100%;
  padding-bottom: 5%;
}

.window .cont-img img {
  width: 100%;
  height: 100%;
}

.cont-img {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 60%;
  height: 60%;
  
}
.fa-chevron-left {
  position: absolute;
  top: 45%;
  left: -5%;
  font-size: 30px;
  color: rgba(0, 0, 100, 0.5);
}
.fa-chevron-right {
  position: absolute;
  top: 45%;
  left: 101%;
  font-size: 30px;
  color: rgb(0, 0, 87);
}

.circles{
    
    text-align: center;
}

.first-circle{
    background-color: blue;
}
.far{
    font-size: 10px;
    border-radius: 50%;
    color: blue;

}
.far:active{
    background-color: blue;
}
/* /designed */

/* features */
.title-features {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: rgb(0, 0, 90);
}

.quadrato-uno,
.quadrato-due,
.quadrato-tre {
  height: 100%;
  color: rgb(0, 0, 90);
}


/* /features */

/* service */
#service {
    margin-bottom: -4%;
    background-image: linear-gradient(to bottom, #0614d6 2%, #0d0083 98%);
}
.title-service {
  margin-top: 3%;
  padding-top: 3%;
  color: white;
  text-align: center;
}
.cont-service {
  width: 100%;
  height: 100%;
  padding-bottom: 3%;
}

.tab-service-one,
.tab-service-two {
  margin-bottom: 3%;
  height: 100%;

}

.first-tab-city .riga,
.second-tab-city .riga{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
    color: rgb(247, 241, 241) ;
}
.first-tab-city :last-child,
.second-tab-city :last-child{
        border-bottom: none;
}

.sigla-città{
    margin-right: 25%;
}
.riga{
    position: relative;
    width: 550px;
    height: 100%;
    border-bottom: solid rgb(207, 206, 206) 1px;
}
.test-speed{
    position: absolute;
    right: 0%;
    
}
.test-speed a{
    color: aquamarine;
    
}



/* /service */

/* development */
#development{
    padding-top: 1%;
    background-color: rgb(223, 221, 221);
}
.title-development {
  text-align: center;
}
.title-development h2{
    color: rgb(0, 0, 90);
  text-align: center;
}


.window-rockerbox {
  height: 100%;
  padding-bottom: 5%;
}


.window-rockerbox .cont-img-rockerbox img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 10%;
}

.cont-img-rockerbox {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 460px;
  height: 400px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.cont-img-rockerbox p{
    text-align: center;
    font-size: 20px;
    padding-top: 30%;
    color: gray;
    margin-bottom: 3%;
}
.cont-img-rockerbox h4{
    margin-bottom: -2%;
    color: rgb(0, 0, 90);
}
.cont-img-rockerbox .read-story{
    margin-top: 8%;
}
.fa-chevron-left {
  position: absolute;
  top: 45%;
  left: -5%;
  font-size: 30px;
  color: rgba(0, 0, 100, 0.5);
}
.fa-chevron-right {
  position: absolute;
  top: 45%;
  left: 101%;
  font-size: 30px;
  color: rgb(0, 0, 87);
}

.circles{
    
    text-align: center;
}

.first-circle{
    background-color: blue;
}
.far{
    font-size: 10px;
    border-radius: 50%;
    color: blue;

}
.far:active{
    background-color: blue;
}



  
  
  
/* /development */

/* get started */
#get-started {
    background-image: linear-gradient(to bottom, #0614d6 2%, #0d0083 98%);
  height: 100%;
}
.get-started {
  margin-top: 4%;
  text-align: center;
  color: white;
  margin-bottom: 4%;
}
.botton-get-started {
  cursor: pointer;
  margin: auto;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background-color: white;
  color: rgb(19, 161, 250);
}
/* /get started */

/* conclusion */
#colclusion {
  background-color: rgb(0, 0, 70);
  height: 100%;
  width: 100%;
}
.colonnaa {
    padding-top: 6%;
    margin-bottom: 0%;
    height: 300px;
    color: rgb(175, 172, 172);
}
.colonnaa h4 {
    width: 400px;
}
.colonnaa p{
    color: rgba(175, 172, 172, 0.5);
}
.colonnaa .fab{
    color: rgb(175, 172, 172,);
    font-size: 23px;
    margin-right: 8px;
}

.fa-copyright{
    color: rgb(175, 172, 172);
    font-size: 15px;
}

.colonna ul li{
    color: rgb(175, 172, 172);
    margin-top: 8%;
}
.colonna ul{
    list-style: none;
    
}


.colonna ul li h3{
    color: white;
    font-size: 20px;
}



/* /conclusion */
